//Загрузчик
$preloader-backgrond: #000;
$preloader-zindex: 999;
$preloader-border-color: #ffff00;
$preloader-border-speed: 1.0s;

.preloader {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: $preloader-backgrond;
  color: #000;
  top: 0px;
  left: 0px;
}

.preloader:after {
  content: ' ';
  display: block;
  border-top: 10px solid $preloader-border-color;
  position: absolute;
  z-index: 999;
  width: 0%;
  height: 100%;
  animation: preloader-show $preloader-border-speed linear infinite;
}

@keyframes preloader-show {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}